.new-task-card {
  background-color: #fff;
  padding: 24px 0;
}
.new-task-card .card-header {
  display: flex;
}
.kanban-app {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border-right: 1px solid red;
}
.kanban-app .sidebar {
  width: 84px;
}
.kanban-app .task-list {
  width: 330px;
}
.kanban-app .main-content {
  width: 1152px;
  background-color: #F5F5FA;
}

/* button styles */
button.primary-btn {
  color: #fff;
  background-color: #fff;
}
/***** form styles *****/
form.comment-form {
  background: #F5F5FA;
}
form.comment-form .button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form.login {
  border: 1px solid #ececf3;
  background-color: transparent;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}