@import "mixins";
@import "vars";

.kanban-app {
    @include display('flex');
    gap: 50px;

    .sidebar {
        padding: 25px;
        border-right: 1px solid darken(#ECECFa, 8%);
        height: 804px;

        .icon-list {
            list-style: none;
            margin-top: 10px;

            li {
                padding: 11px;
            }
        }
    }

    .tasks-overview {}

    .main-content {}
}