@function px-to-rem($px) {
    @return ($px / 16) * 1rem;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin display($type) {
    @if $type == "block" {
        display: block;
    } @else if $type == "inline" {
        display: block;
    } @else if $type == 'grid' {
        display: grid;
    } @else if $type == 'flex' {
        display: flex;
    }
}

@mixin set-text-color($color) {
    color: $color;
}

@mixin set-bg-color($color) {
    background-color: $color;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}