$clr-header-bg: #1B1D1F;
$clr-card-bg: #1B1D1F;
$clr-input-bg: #272B31;
$clr-comment-text: #EFEFEF;

.mobile-comments {
    max-width: 375px;
    margin-top: 50px;
    margin-left: 50px;


    header {
        background-color: $clr-header-bg;
        height: 86px;
        padding: 24px;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            li {
                padding: 11px;
            }
        }
    }

    .main-content {
        background: #111315;
        width: 375px;
        padding: 24px 16px;

        .section-title {
            font-size: 32px;
            line-height: 40px;
            color: #EFEFEF;
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        .card {
            background-color: $clr-card-bg;
            width: 100%;
            padding: 16px;
            align-items: center;
        }

        .comment-search {
            .input-bg {
                background-color: $clr-input-bg;
                padding: 12px 8px;
                border-radius: 12px;
                display: flex;
            }
            input {
                background-color: transparent;
                border: none;
                margin-left: 10px;
                width: 100%;
            }
        }

        ul.comments-list {
            list-style: none;
            margin-top: 20px;

           li,
           .reply{
               display: flex;
               flex-direction: row;
               margin-bottom: 20px;
               border-bottom: 1px solid #272B31;

               .left {
                   margin-right: 12px;
               }

               .right {
                   .left {
                       display: flex;
                       flex-wrap: wrap;

                       .time-ago {
                           margin-left: auto;
                       }
                   }
               }
           }
            .comment {
                color: $clr-comment-text;
                margin-top: 20px;
            }

            .reply {
                color: $clr-comment-text;
                width: 243px;
                padding-bottom: 16px;
                border-bottom: 0;
                flex-direction: column;

                .action-bar {
                    display: flex;
                }

                img {
                    width: 48px;
                    height: 48px;

                }
            }

           .user-name {
               color: #FCFCFC;
               font-size: 14px;
           }

           .category,
           .time-ago {
               color: #fcfcfc;
               font-size: 13px;
           }
        }

        .action-bar {
            display: flex;
            justify-content: space-between;
            max-width: 192px;
            margin-top: 16px;
        }
    }

    .load-more-btn {
        background-color: transparent;
        border: 1px solid #272B31;
        padding: 12px 20px;
        margin-right: auto;
        color: #fcfcfc;
        font-size: 16px;
        display: block;
        font-weight: normal;
        width: 100%;
        text-transform: capitalize;

        &:hover {
            cursor: pointer;
        }
    }
}