$clr-light-bg: #fff;
$clr-card-footer-bg: #F5F5FA;
$clr-body-bg: #F5F5FA;
$clr-main-content-bg: #F5F5FA;

$clr-base-border: #ececf3;
$clr-muted-text: #8181A5;

$clr-primary-btn-text: #fff;

$clr-comment-form-bg: #F5F5FA;
$clr-icon: #8181A5;
$clr-primary: #5E81F4;
$colors: (
    'ligh-bg': $clr-light-bg
)