$clr-light-bg: #fff;
$clr-card-footer-bg: #F5F5FA;
$clr-body-bg: #F5F5FA;
$clr-main-content-bg: #F5F5FA;

$clr-base-border: #ececf3;
$clr-muted-text: #8181A5;

$colors: (
    'ligh-bg': $clr-light-bg
)