@import "partials/mixins";

.checkbox-icon {
    background: url("../images/unchecked.svg") no-repeat center center transparent;
    @include size(20px, 20px)
}

.kanban-icon {
    background: url('../images/kanban/kanban-icon.svg') no-repeat center center transparent;
    @include size(20px, 20px)
}