@import "partials/mixins";
@import "partials/vars";
@import "icons";
@import "partials/task";
@import "partials/kanban";
@import "partials/_kanban-item.scss";
@import "partials/_button.scss";
@import "partials/_form.scss";
@import "partials/_calendar.scss";
@import "partials/_mobile-comments.scss";

body {
    font-family: "Inter", sans-serif;
    background-color: #f2f2f2;

    &.dark-mobile {
        background-color: #2E3032;
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}